dtd/equipos.dtd

<!ELEMENT lista-equipos (equipo+)>
<!ELEMENT equipo (nombre, descripcion, miembros)>
<!ATTLIST equipo id ID #REQUIRED>
<!ATTLIST equipo tipo CDATA #REQUIRED>
<!ATTLIST equipo reaccion CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT miembros (miembro+)>
<!ELEMENT miembro (#PCDATA)>
<!ATTLIST miembro rol CDATA #REQUIRED>